{
	"linuxNote":
       	"~/Documents/EveDayOneNote/UsefulLinuxCmd.md"
	,
       	"pythonNote":
       	"~/Documents/EveDayOneNote/PythonNote.md"
	,
	"BlogDir":
	"~/GitBlog/leaflight.github.io/source/_posts/"
}
